{%extends 'hookah/base.html'%}

{%block body%}


    <h1 class="zag">Latest arrivals</h1>


<div class="goods">
    {% for i in goods %}
    <div class="post" data-id="{{i.pk}}">
    <div class="card"  >
        <a href="{%url 'pk' i.slug%}" style="text-decoration:none; color:black;">
        <img class="img" src="{{i.image.url}}">
        <p class="name" data-name="{{i.name}}">{{i.name}}</p>
       <span class="price">{{i.price}}</span>
      <p style="display:none" class="defprice">{{i.price}}</p>
        <span>$</span><br>
        </a>
        <div class="calkulate">
            <button data-action="minus"><i data-action="minus" class="fa fa-minus"></i></button>
        <button class="quan">1</button>
         <button data-action="plus"><i data-action="plus" class="fa fa-plus"></i></button>
            </div>
        <form action="{%url 'basket'%}" method="POST">
            {%csrf_token%}
            <input type="hidden" name="image" value="{{i.image.url}}">
            <input type="hidden" name="name" value="{{i.name}}" >
            <input type="hidden" name="price" value="{{i.price}}">

            <input type="hidden" name="id" value="{{i.id}}" >
            <input type="hidden" class="valquan" name="quan" value="1" >
        <button class="cardbutton" data-action="basket">Add to cart</button>
        </form>
        </div>
        </div>
    {% endfor %}
</div>


<div class="chashfon">
        <div class="goodsch">
        {% for i in chasha %}
          <div class="post" data-id="ch{{i.pk}}">
    <div class="card"  >
        <a href="{%url 'pk' i.slug%}" style="text-decoration:none; color:black;">
        <img class="imgch" src="{{i.image.url}}">
        <p class="name">{{i.name}}</p>
       <span class="price">{{i.price}}</span>
      <p style="display:none" class="defprice">{{i.price}}</p>
        <span>$</span><br>
        </a>
        <div class="calkulate">
            <button data-action="minus"><i data-action="minus" class="fa fa-minus"></i></button>
        <button class="quan">1</button>
         <button data-action="plus"><i data-action="plus" class="fa fa-plus"></i></button>
            </div>
        <form action="{%url 'basket'%}" method="POST">
            {%csrf_token%}
            <input type="hidden" name="image" value="{{i.image.url}}">
            <input type="hidden" name="name" value="{{i.name}}" >
            <input type="hidden" name="price" value="{{i.price}}">

            <input type="hidden" name="id" value="ch{{i.id}}" >
            <input type="hidden" class="valquan" name="quan" value="1" >
        <button class="cardbutton" data-action="basket">Add to cart</button>
        </form>
        </div>
        </div>
        {% endfor %}
    </div>
<div class="carousel"
  data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false,"autoPlay": 2000,"wrapAround": true }'>
     {% for i in chasha %}
  <div class="carousel-cell">
 <div class="post" data-id="ch{{i.pk}}">

        <a href="{%url 'pk' i.slug%}" style="text-decoration:none; color:black;">
        <img class="imgch" src="{{i.image.url}}">
        <p class="name">{{i.name}}</p>
       <span class="price">{{i.price}}</span>
      <p style="display:none" class="defprice">{{i.price}}</p>
        <span>$</span><br>
        </a>
        <div class="calkulate">
            <button data-action="minus"><i data-action="minus" class="fa fa-minus"></i></button>
        <button class="quan">1</button>
         <button data-action="plus"><i data-action="plus" class="fa fa-plus"></i></button>
            </div>
        <form action="{%url 'basket'%}" method="POST">
            {%csrf_token%}
            <input type="hidden" name="image" value="{{i.image.url}}">
            <input type="hidden" name="name" value="{{i.name}}" >
            <input type="hidden" name="price" value="{{i.price}}">
            <input type="hidden" name="descr" value="{{i.descr}}" >
            <input type="hidden" name="id" value="ch{{i.id}}" >
            <input type="hidden" class="valquan" name="quan" value="1" >
        <button class="cardbutton" data-action="basket">Add to cart</button>
        </form>
        </div>



  </div>
    {% endfor %}

</div>
</div>


{%endblock%}

